version: "3.8"

services:

  qbittorrent:
    image: linuxserver/qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - /mnt/2tb/Docker/qbittorrent/data:/config
      - /mnt:/mnt
    ports:
      - 43623:43623
      - 43623:43623/udp
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8080
      - homepage.group=Services
      - homepage.name=qBittorrent
      - homepage.icon=qbittorrent.png
      - homepage.href=https://qbittorrent.$EXT_HOST
      - homepage.description=Bittorent client
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=https://qbittorrent.$EXT_HOST
      - homepage.widget.username=$USER
      - homepage.widget.password=$PASSWORD
    networks:
      - frontend
networks:
  frontend:
    external: true

