.env
*.log
passwords
passwd
root.crt
acme.json

data/
output/
test/
cache/
game/
backup/

common.yml
fredboat.yml
traefik.yml
config.nogit.php

config/
db/
database/

channel_points_miner/authentication/
channel_points_miner/streamers
channel_points_miner/config.json

harbor/common.sh
harbor/common
harbor/prepare
harbor/harbor.yml
harbor/install.sh

