version: "2.4"
services:
  nextcloud:
    image: nextcloud
    container_name: nextcloud_main
    environment:
      - MYSQL_HOST=db
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    volumes:
      - www:/var/www/html
      - /media/hdd3:/downloads
      - /media/hdd1:/hdd1
      - /media/hdd2:/hdd2
    restart: always
    labels:
      - "traefik.enable=true"
    networks:
      - frontend
      - backend
  db:
    image: mariadb
    container_name: nextcloud_db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - backend
networks:
  frontend:
    external: true
  backend:
    name: nextcloud_backend
    internal: true

volumes:
  www:
  db:
