version: "3.8"

services:

  proxy:
    image: sameersbn/squid
    ports:
      - 25569:3128
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
      - ./passwords:/etc/squid/passwords
    restart: unless-stopped
    labels:
      - homepage.group=System
      - homepage.icon=si-octopusdeploy-#34A7C1
      - homepage.name=Squid
      - homepage.description=Caching proxy
      - homepage.showStats=true

