version: "3.8"

x-base_service: &base_service
    restart: unless-stopped
    networks:
      - default

x-base_server: &base_server
    <<: *base_service
    image: itzg/minecraft-server

services:
  database:
    <<: *base_service
    image: mariadb
    hostname: database
    command: --max_allowed_packet=32505856
    environment:
      - MYSQL_ROOT_PASSWORD
    volumes:
      - /mnt/2tb/Docker/minecraft_database:/var/lib/mysql

  router:
    <<: *base_service
    image: itzg/mc-router
    environment:
      # enable API
      - API_BINDING=:25564
    ports:
      - 25565:25565
      # bind the API port to only loopback to avoid external exposure
      - 127.0.0.1:25564:25564
    command: --mapping="mc1.$MINECRAFT_HOST=vlad:25565,mc2.$MINECRAFT_HOST=artem:25565,mc3.$MINECRAFT_HOST=artemmodded:25565"
    networks:
      - frontend
      - default
    labels:
      - homepage.group=System
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft router
      - homepage.description=Server router
      - homepage.showStats=true

  vlad:
    depends_on:
      - database
    <<: *base_server
    command: --noconsole
    volumes:
      - /srv/minecraft/:/data
      - /mnt/2tb/Docker/minecraft_backups:/data/plugins/eBackup/backups/
    environment:
      - VERSION=1.19.2
      - EULA=TRUE
      - CONSOLE=FALSE
      - SERVER_NAME=Home, sweet home
      - TYPE=PAPER
      - INIT_MEMORY=3G
      - MAX_MEMORY=6G
      - SPIGET_RESOURCES=9368
    labels:
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft Vlad
      - homepage.widget.type=minecraft
      - homepage.description=Vlad's minecraft server
      - homepage.widget.url=udp://mc1.$MINECRAFT_HOST:25565
      - homepage.showStats=true

  artem:
    <<: *base_server
    volumes:
      - /srv/minecraft_artem/:/data
    networks:
      - default
    environment:
      - VERSION=LATEST
      - SERVER_NAME=Server 228
      - TYPE=VANILLA
      - EULA=TRUE
      - INIT_MEMORY=2G
      - MAX_MEMORY=4G
    labels:
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft Artem
      - homepage.widget.type=minecraft
      - homepage.description=Artem's minecraft server
      - homepage.widget.url=udp://mc2.$MINECRAFT_HOST:25565
      - homepage.showStats=true

  artemmodded:
    <<: *base_server
    image: itzg/minecraft-server:java8-multiarch
    volumes:
      - /srv/minecraft_artem_modded/:/data
    environment:
      - VERSION=1.12.2
      - SERVER_NAME=Industrial craft
      - TYPE=FORGE
      - FTB_MODPACK_ID-36
      - FTB_MODPACK_VERSION_ID=147
      - EULA=TRUE
      - INIT_MEMORY=2G
      - MAX_MEMORY=4G
      - UID=1002
      - GID=1002
    labels:
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft Artem Modded
      - homepage.widget.type=minecraft
      - homepage.description=Artems's modded minecraft server
      - homepage.widget.url=udp://mc3.$MINECRAFT_HOST:25565
      - homepage.showStats=true

  bedrock:
    <<: *base_server
    image: itzg/minecraft-bedrock-server
    volumes:
      - /srv/minecraft_bedrock/:/data
    networks:
      - frontend
    ports:
      - 19132:19132/udp
    environment:
      - VERSION=LATEST
      - SERVER_NAME=Server for your mom
      - DIFFICULTY=hard
      - ONLINE_MODE=true
      - EULA=TRUE
    labels:
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft Bedrock
      - homepage.description=Vlad's minecraft server
      - homepage.showStats=true

  map:
    <<: *base_service
    depends_on:
      - database
    image: richarvey/nginx-php-fpm:1.10.3
    networks:
      - default
      - frontend
    volumes:
      - /srv/minecraft/plugins/dynmap/web:/var/www/html/
    labels:
      - traefik.enable=true
      - traefik.custom.subdomain=map
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft map
      - homepage.widget.type=minecraft
      - homepage.description=Map of Vlad's server
      - homepage.href=https://map.$EXT_HOST
      - homepage.showStats=true
  skins:
    <<: *base_service
    depends_on:
      - database
    build: skins/.
    networks:
      - default
      - frontend
    labels:
      - traefik.enable=true
      - traefik.custom.subdomain=skins
      - homepage.group=Games
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft skins
      - homepage.widget.type=minecraft
      - homepage.description=Skins for Vlad's server
      - homepage.href=https://skins.$EXT_HOST
      - homepage.showStats=true
    volumes:
      - ./config.nogit.php:/var/www/html/config.nogit.php

networks:
  frontend:
    external: true

