version: "3.8"

x-base_service: &base_service
    restart: unless-stopped
    networks:
      - default

x-base_server: &base_server
    <<: *base_service
    image: itzg/minecraft-server
    environment:
      - EULA=TRUE
    labels:
      - homepage.group=Services
      - homepage.icon=minecraft.png
      - homepage.name=Minecraft
      - homepage.widget.type=minecraft

services:
  database:
    <<: *base_service
    image: mariadb
    hostname: database
    command: --max_allowed_packet=32505856
    environment:
      - MYSQL_ROOT_PASSWORD
    volumes:
      - /mnt/2tb/Docker/minecraft_database:/var/lib/mysql

  router:
    <<: *base_service
    image: itzg/mc-router
    environment:
      # enable API
      - API_BINDING=:25564
    ports:
      - 25565:25565
      # bind the API port to only loopback to avoid external exposure
      - 127.0.0.1:25564:25564
    command: --mapping="mc1.$MINECRAFT_HOST=vlad:25565,mc2.$MINECRAFT_HOST=artem:25565,mc3.$MINECRAFT_HOST=artem_modded:25565"
    networks:
      - frontend
      - default

  vlad:
    depends_on:
      - database
    <<: *base_server
    command: --noconsole
    volumes:
      - /srv/minecraft/:/data
      - /mnt/2tb/Docker/minecraft_backups:/data/plugins/eBackup/backups/
    environment:
      - VERSION=1.19.2
      - CONSOLE=FALSE
      - SERVER_NAME=Home, sweet home
      - TYPE=PAPER
      - INIT_MEMORY=3G
      - MAX_MEMORY=6G
      - SPIGET_RESOURCES=9368
    labels:
      - homepage.description=Vlad's minecraft server
      - homepage.url=udp://mc1.$MINECRAFT_HOST:25565

  artem:
    <<: *base_server
    volumes:
      - /srv/minecraft_artem/:/data
    networks:
      - default
    environment:
      - VERSION=LATEST
      - SERVER_NAME=Server 228
      - TYPE=VANILLA
      - EULA=TRUE
      - INIT_MEMORY=2G
      - MAX_MEMORY=4G
    labels:
      - homepage.description=Artem's minecraft server
      - homepage.url=udp://mc2.$MINECRAFT_HOST:25565

  artemmodded:
    <<: *base_server
    image: itzg/minecraft-server:java8-multiarch
    volumes:
      - /srv/minecraft_artem_modded/:/data
    environment:
      - VERSION=1.12.2
      - SERVER_NAME=Industrial craft
      - TYPE=FORGE
      - FTB_MODPACK_ID-36
      - FTB_MODPACK_VERSION_ID=147
      - INIT_MEMORY=2G
      - MAX_MEMORY=4G
      - UID=1002
      - GID=1002
    labels:
      - homepage.description=Artems's modded minecraft server
      - homepage.url=udp://mc3.$MINECRAFT_HOST:25565

  bedrock:
    <<: *base_server
    image: itzg/minecraft-bedrock-server
    volumes:
      - /srv/minecraft_bedrock/:/data
    networks:
      - frontend
    ports:
      - 19132:19132/udp
    environment:
      - VERSION=LATEST
      - SERVER_NAME=Server for your mom
      - DIFFICULTY=hard
      - ONLINE_MODE=true

  map:
    <<: *base_service
    depends_on:
      - database
    image: richarvey/nginx-php-fpm:1.10.3
    networks:
      - default
      - frontend
    volumes:
      - /srv/minecraft/plugins/dynmap/web:/var/www/html/
    labels:
      - traefik.enable=true
      - traefik.custom.subdomain=map
  skins:
    <<: *base_service
    depends_on:
      - database
    build: skins/.
    networks:
      - default
      - frontend
    labels:
      - traefik.enable=true
      - traefik.custom.subdomain=skins
    volumes:
      - ./config.nogit.php:/var/www/html/config.nogit.php

networks:
  frontend:
    external: true

