version: "3.8"

services:

  photoprism:
    image: photoprism/photoprism:latest
    depends_on:
      - mariadb
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      - PHOTOPRISM_ADMIN_PASSWORD
      - PHOTOPRISM_SITE_URL=https://photos.$EXT_HOST  # public server URL incl http:// or https:// and /path, :port is optional
      - PHOTOPRISM_ORIGINALS_LIMIT=5000               # file size limit for originals in MB (increase for high-res video)
      - PHOTOPRISM_HTTP_COMPRESSION=gzip              # improves transfer speed and bandwidth utilization (none or gzip)
      - PHOTOPRISM_DEBUG=false                        # run in debug mode (shows additional log messages)
      - PHOTOPRISM_PUBLIC=false                       # no authentication required (disables password protection)
      - PHOTOPRISM_READONLY=false                     # don't modify originals directory (reduced functionality)
      - PHOTOPRISM_EXPERIMENTAL=false                 # enables experimental features
      - PHOTOPRISM_DISABLE_CHOWN=false                # disables storage permission updates on startup
      - PHOTOPRISM_DISABLE_WEBDAV=false               # disables built-in WebDAV server
      - PHOTOPRISM_DISABLE_SETTINGS=false             # disables Settings in Web UI
      - PHOTOPRISM_DISABLE_TENSORFLOW=false           # disables all features depending on TensorFlow
      - PHOTOPRISM_DISABLE_FACES=false                # disables facial recognition
      - PHOTOPRISM_DISABLE_CLASSIFICATION=false       # disables image classification
      - PHOTOPRISM_DARKTABLE_PRESETS=false            # enables Darktable presets and disables concurrent RAW conversion
      - PHOTOPRISM_DETECT_NSFW=true                   # flag photos as private that MAY be offensive (requires TensorFlow)
      - PHOTOPRISM_UPLOAD_NSFW=true                   # allows uploads that MAY be offensive
      - PHOTOPRISM_DATABASE_DRIVER=mysql              # use MariaDB 10.5+ or MySQL 8+ instead of SQLite for improved performance
      - PHOTOPRISM_DATABASE_SERVER=mariadb:3306       # MariaDB or MySQL database server (hostname:port)
      - PHOTOPRISM_DATABASE_NAME=photoprism           # MariaDB or MySQL database schema name
      - PHOTOPRISM_DATABASE_USER=photoprism           # MariaDB or MySQL database user name
      - PHOTOPRISM_DATABASE_PASSWORD=insecure         # MariaDB or MySQL database user password
      - PHOTOPRISM_SITE_TITLE=PhotoPrism
      - PHOTOPRISM_SITE_CAPTION=AI-Powered Photos App
      - PHOTOPRISM_FFMPEG_ENCODER=nvidia
      - PHOTOPRISM_INIT=tensorflow
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
      ## Run/install on first startup (options: update, gpu, tensorflow, davfs, nano, clean):
      - PHOTOPRISM_INIT=gpu tensorflow"
      ## Hardware video transcoding config (optional)
      # - PHOTOPRISM_FFMPEG_BUFFERS=64                # FFmpeg capture buffers (default: 32)
      # - PHOTOPRISM_FFMPEG_BITRATE=32                # FFmpeg encoding bitrate limit in Mbit/s (default: 50)
      # - PHOTOPRISM_FFMPEG_ENCODER=h264_v4l2m2m      # use Video4Linux for AVC transcoding (default: libx264)
      # - PHOTOPRISM_FFMPEG_ENCODER=h264_qsv          # use Intel Quick Sync Video for AVC transcoding (default: libx264)
      - HOME=/photoprism"
    user: 1000:1000
    devices:
     - /dev/dri:/dev/dri
     - /dev/nvidia0:/dev/nvidia0
     - /dev/nvidiactl:/dev/nvidiactl
    working_dir: /photoprism
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    labels:
      - traefik.enable=true
      - traefik.custom.subdomain=photos
      - traefik.http.services.photoprism.loadbalancer.server.port=2342
      - homepage.group=Services
      - homepage.name=PhotoPrism
      - homepage.icon=photoprism.png
      - homepage.href=https://photos.$EXT_HOST
      - homepage.description=AI-powered photo gallery
      - homepage.widget.type=photoprism
      - homepage.widget.url=https://photos.$EXT_HOST
      - homepage.widget.username=$HOMEPAGE_USER
      - homepage.widget.password=$HOMEPAGE_PASSWORD
    volumes:
      - /mnt/2tb/Pictures/Photo:/photoprism/originals
      - /mnt/2tb/Docker/photoprism/storage:/photoprism/storage 
    networks:
      - frontend
      - default

  mariadb:
    restart: unless-stopped
    image: mariadb:10.6
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: mysqld --innodb-buffer-pool-size=128M --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - ./database:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=insecure
      - MYSQL_DATABASE=photoprism
      - MYSQL_USER=photoprism
      - MYSQL_PASSWORD=insecure
    networks:
      - default

networks:
  frontend:
    external: true
